body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #fcfcfc;
  line-height: 1.45em;
  background-color: #111;
 }



/* /////////////////////////////////////////////////////////////////////
Map
///////////////////////////////////////////////////////////////////// */

#map {
  position: fixed;
  width: 49%;
  height: calc(100% - 350px);
  top: 250px;
  bottom: 100px;
}

.state-boundary {
  fill: #111;
  stroke: #fff;
}
.county {
  fill: #111;
  stroke: #fff;
}
.county:hover {
  stroke: steelblue;
  stroke-width: 4 !important;
  opacity: 1 !important;
}

/* /////////////////////////////////////////////////////////////////////
Parcoords
///////////////////////////////////////////////////////////////////// */

#parcoords {
  top: 0;
  height: 250px;
}

#parcoords-grid-container {
  width: 100%;
  overflow-x: scroll;
  height: 100px;
  position: fixed;
  bottom: 0;
}
#parcoords-grid {
  width: 2000px;
  color: #fff;
}
.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
.row:nth-child(odd) {
  background: rgba(255,255,255,0.2);
}
.header { font-weight: bold; }
.cell {
  float: left; overflow: hidden; white-space: nowrap;
  width: 110px; height: 18px;
}

a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}
