body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #fcfcfc;
  line-height: 1.45em;
  background-color: #111;
 }



/* /////////////////////////////////////////////////////////////////////
Map
///////////////////////////////////////////////////////////////////// */

#map {
  position: fixed;
  width: 49%;
  height: calc(100% - 370px);
  top: 250px;
  bottom: 100px;
}

.state-boundary {
  fill: #111;
  stroke: #fff;
  stroke-opacity: 0.1;
}
.county {
  fill: #111;
  stroke: #fff;

}
.county:hover {
  stroke: #fff;
  stroke-width: 6 !important;
  stroke-opacity: 1 !important;
  opacity: 1 !important;
}

/* /////////////////////////////////////////////////////////////////////
Force
///////////////////////////////////////////////////////////////////// */

#force {
  position: fixed;
  width: 49%;
  height: calc(100% - 350px);
  top: 250px;
  bottom: 100px;
  right: 0;
}
#force::after {
  color: #fff;
  content: "Sized by population, colored by unemployment rate"
}
circle.county {
  stroke: #ddd;
  stroke-opacity: 0.6;
  stroke-width: 1;
}
circle.county:hover {
  stroke: #fff;
  stroke-opacity: 1;
  stroke-width: 3;
}

/* /////////////////////////////////////////////////////////////////////
Parcoords
///////////////////////////////////////////////////////////////////// */

#parcoords {
  margin-top: 20px;
  height: 230px;
  background-color: #111;
}
#parcoords text {
  fill: #fff;
  opacity: 0.7;
}

#parcoords-grid-container {
  width: 100%;
  overflow-x: scroll;
  height: 100px;
  position: fixed;
  bottom: 0;
}
#parcoords-grid {
  width: 2000px;
  color: #fff;
}
.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
.row:nth-child(odd) {
  background: rgba(255,255,255,0.2);
}
.header { font-weight: bold; }
.cell {
  float: left; overflow: hidden; white-space: nowrap;
  width: 150px; height: 18px;
}

a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
