body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
#state-grid {
  position:absolute;
  top: 0;
  left: 0;
  display: none;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.state {
  cursor: pointer;
}
.state rect {
  fill: #dedede;
  fill-opacity: 0.4;
  rx: 3;
  ry: 3;
}
.selected rect {
  fill: steelblue;
}

.state text {
  font: 12px sans-serif;
  text-anchor: middle;
}
.state-boundary {
  fill: none;
  stroke: #111;
}
.county {
  fill: #fff;
  stroke: #111;
}
